#navbarSupportedContent {
    height: auto;
    margin-top: 6px;
}

.header {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.sub_header {
  text-align: center;
  font-size: 20px;
  color: #fff;
  position: absolute;
  width: 100%;
  transform: translateY(-350%);
}

.johngreen {
  text-align: right;
  margin-right: 25%;
}

.icons {
  width: 90%;
  height: 50%;
  margin: 50px 0 50px 0;
}

svg {
  max-height: 72px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-left: 9%;
}

.navigation-item__title {
  width: 9.51%;
  height: auto;
  margin: -50px 0 50px 170px;
}

a:link {
  color:#666666;
  text-decoration:none;
}

a:hover {
  text-decoration : none;
}

.filter1 {
    padding: 10px 10px 10px 10px;
    background-color: #e7e8e9;
    list-style: none;
    display: inline-flex;
    width: 10%;
    height: auto;
    margin: 0 0 30px 215px;
    border: 1px solid #262626;
}

.filter2 {
    padding: 10px 10px 10px 10px;
    background-color: #e7e8e9;
    list-style: none;
    display: inline-flex;
    width: 10%;
    height: auto;
    margin: 0 0 30px 80px;
    border: 1px solid #262626;
}

.filter3 {
    padding: 10px 10px 10px 10px;
    background-color: #e7e8e9;
    list-style: none;
    display: inline-flex;
    width: 10%;
    height: auto;
    margin: 0 0 30px 80px;
    border: 1px solid #262626;
}

.filter4 {
    padding: 10px 10px 10px 10px;
    background-color: #e7e8e9;
    list-style: none;
    display: inline-flex;
    width: 10%;
    height: auto;
    margin: 0 0 30px 80px;
    border: 1px solid #262626;
}

/* photo gallery */
.gal-container{
  padding: 12px;
}

.gal-item{
  overflow: hidden;
  padding: 3px;
}

.gal-item .box{
  height: 350px;
  overflow: hidden;
}

.box img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  -o-object-fit:cover;
}

.gal-item a:focus{
  outline: none;
}

.gal-item a:after{
  content:"\e187";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 3px;
  left: 3px;
  top: 3px;
  bottom: 3px;
  text-align: center;
  line-height: 350px;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.gal-item a:hover:after{
  opacity: 1;
}

.modal-open .gal-container .modal{
  background-color: rgba(0,0,0,0.4);
}

.modal-open .gal-item .modal-body{
  padding: 0px;
}

.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}

.modal-open button.close:focus{
  outline: none;
}

.modal-open button.close span{
  position: relative;
  top: -3px;
  font-weight: lighter;
  text-shadow:none;
}

.container .description{
  position: relative;
  height: 40px;
  padding: 10px 25px;
  background-color: rgba(0,0,0,0.90);
  color: #fff;
  text-align: left;
  height: auto;
}

.container .description h4{
  margin:0px;
  font-size: 19px;
  font-weight: 300;
}

.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}

.container .modal-content {
    height:auto;
    min-width: 768px;
}

/* Footer */
.footer {
    height: 50%;
    width: 100%;
    display: flex;
    background-color: #343a40;
    color: #8c8c8c;
    margin-top: 50px;
}

.logo {
    margin: 0 20px 50px 20px;
}


.amsterdam {
    height: auto;
    width: 30%;
}

.address {
    height: auto;
    width: 30%;
}

.phone {
    height: auto;
    width: 30%;
    display: right;
}

.email {
    height: auto;
    width: 30%;
    display: right;
}
